<html lang="en">

<head>
    <title>Add User</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <input type="text" placeholder="Enter Name" class="width100" [(ngModel)]="user.name">
            </div>
            <div class="col-4">
                <input type="number" placeholder="Enter Number" class="width100" [(ngModel)]="user.number">
            </div>
            <div class="col-2">
                <button (click)="AddUser()" class="width100">Add</button>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList;let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{user.name}}</td>
                            <td>{{user.number}}</td>
                            <td>
                                <i class="pointer" style="font-size: 12px;" (click)="remove(i)">X</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>