<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Attendence Medium</a>
            </div>
            <ul class="nav navbar-nav">
                <li [ngClass]="activeTab==0?'active':''"><a routerLink="/attendence/add-user" routerLinkActive="active" (click)="activeTab = 0;setActiveTab()">Add User</a></li>
                <li [ngClass]="activeTab==1?'active':''"><a routerLink="/attendence/mark-attendence" routerLinkActive="active" (click)="activeTab = 1;setActiveTab()">Mark Attendence</a></li>
                <li [ngClass]="activeTab==2?'active':''"><a routerLink="/attendence/view-attendence" routerLinkActive="active" (click)="activeTab = 2;setActiveTab()">Attendence List</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>
<router-outlet></router-outlet>